* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Navbar */

.header {
    width: 100%;
    max-height: 55px;
    background: linear-gradient(90deg, #3881ff 0%, #ff557b 100%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'rubik_glitchregular';
    font-size: 25px;
    color: #ffffff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 16px;
}

.menu-content { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.menu-content li {
    display: inline;
    margin-right: 20px;
}

.menu-content li:last-of-type {
    margin-right: 16px;
}

.menu-link {
    display: block;
    font-family: 'ibm_plex_monoXLtIt';
    color: #ffffff;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropbutton {
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    position: relative;
}

.dropbutton img {
    height: 100%;
}



.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    min-width: 160px;
    background-color: #ff557b;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: 'ibm_plex_monoXLtIt';
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background-color: #3881ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Header */

.home {
    width: 100%;
    min-height: 100%;
    background-image: url(images/bg-home.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.container-home {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.profile {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pic-profile {
    height: 200px;
    max-width: 200px;
    margin: 5px;
    border: 2px solid #000000;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.pic-profile img {
    height: 100%;
    width: 100%;
    display: inline;
    margin: 0 auto;
    object-fit: cover;
}

.dsc-profile {
    max-width: 100%;
    padding: 16px;
    text-align: center;
    font-family: 'ibm_plex_monolight';
    word-wrap: break-word;
}

.name {
    font-family: 'rubik_glitchregular';
    display: block;
    color: #000000;
    font-size: 45px;
    padding: 0;
}

.p-profile {
    font-size: 25px;
}

.container-scroll {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-scroll button{
    width: 180px;
    height: 50px;
    background: linear-gradient(90deg, #3881ff 0%, #ff557b 100%);
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
    font-family: 'ibm_plex_monolight';
    font-size: 20px;
    font-weight: bold;
    color: #f0f0f0;
}



/* Content */

.section-pink {
    width: 100%;
    min-height: 100%;
    background-image: url(images/bg-pink.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-blue {
    width: 100%;
    min-height: 100%;
    background-image: url(images/bg-blue.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-height: 50%;
    background: rgba(240,240,255,0.6);
    border-radius: 25px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.container h1 {
    max-width: 90%;
    margin: 20px;
    font-family: 'ibm_plex_monolight';
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 10px;
    word-spacing: 10px;
    color: #f0f0f0;
    text-shadow: 2px 2px 5px #FF557B, -2px -2px 5px #3881FF;
}

.container p {
    max-width: 90%;
    margin: 16px;
    font-family:'ibm_plex_monoXLtIt';
    font-size: 20px;
    word-wrap: break-word;
    text-align: justify;
}

.container a:any-link {
    font-family: 'ibm_plex_monolight';
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #986cc0;
}

.container a:hover:visited {
    cursor: pointer;
}

.container-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 15px;
}

.skill-card {
    width: 110px;
    height: 110px;
    background: rgba(240,240,255,0.6);
    border-radius: 25px;
    margin: 15px 10px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-card img {
    height: 75%;
    object-fit: contain;
    padding: 5px;
}

.skill-card span {
    height: 25px;
    background: rgba(1,1,1,0.1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'ibm_plex_monolight';
    text-align: center;
    line-height: 25px;
}

.load {
    width: 100px;
    height: 100px;
    background-image: url(images/loading.gif);
    background-size: cover;
    margin-bottom: 25px;
}



/* Contact Form */

.contact-form {
    width: 90%;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px; 
}

.form-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.form-row-b {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row-b label {
    font-family: 'ibm_plex_monolight';
    font-size: 15px;
    text-align: left;
    margin-bottom: 10px;  
}

.form-row-b input[type='text'],
.form-row-b input[type='email'],
.form-row-b textarea {
    width: 100%;
    background: rgba(1,1,1,0.1);
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 7px;
    font-family:'ibm_plex_monoXLtIt';
    font-size: 14px;
}

.form-row-b input[type='text']:invalid,
.form-row-b input[type='email']:invalid {
    color: #ff1919;
    box-shadow: none;
}

.form-row-b textarea {
    min-height: 100px;
    resize: none;
}

.form-row button {
    background: linear-gradient(90deg, #3881ff 0%, #ff557b 100%);
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-family: 'ibm_plex_monolight';
    font-size: 20px;
    color: #f0f0f0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}



/* Footer */

.footer {
    width: 100%;
    background: linear-gradient(90deg, #3881ff 0%, #ff557b 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright,
.social {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.social img {
    width: 25px;
    background: black;
    border-radius: 5px;
    margin-left: 10px;
}









/* Moblie Styles */


@media only screen and (max-width: 390px) {
    
    .logo {
        visibility: hidden;
        font-size: 1px;
    }
    
    .logo img {
        visibility: visible;
    }
    
    
    .menu-content {
        display: none;
    }
    
    .pic-profile {
        height: 150px;
        max-width: 150px;
    }
    
    .name {
        font-size: 28px;
    }
    
    .p-profile {
        font-size: 21px;
    }
    
    .container h1 {
        font-size: 21px;
        letter-spacing: 1px;
        word-spacing: 5px;
        margin-bottom: 10px;
    }
    
    .container p {
        font-size: 18px;
    }
    
    .container-scroll button {
        width: auto;
        height: auto;
        padding: 10px 20px;
        font-size: 16px;
    }
    
    .footer {
        font-size: 15px;
    }
}




/* Tablet Styles */

@media only screen and (min-width:391px) and (max-width: 880px) {
    
    .menu-content {
        display: none;
    }
    
    .name {
        font-size: 35px;
    }
    
    .p-profile {
        font-size: 22px;
    }
    
    .container h1 {
        font-size: 28px;
    }
}




/* Desktop Styles */

@media only screen and (min-width: 881px) {
    .dropdown {
        display: none;
    }
    
    .navbar {
        width: 90%;
    }
    
    .skill-card {
        width: 200px;
        height: 200px;
        margin: 20px;
    }
    
    .skill-card img {
        height: 85%;
    }
    
    .skill-card span {
        height: 30px;
        line-height: 30px;
    }
    
    .form-row {
        justify-content: space-evenly;
    }
    
    .row-dsk {
        width: 45%;
    }
    
    
    .row-msg {
        width: 90%;
    }
}



/* Font Styles */

@font-face {
    font-family: 'rubik_glitchregular';
    src: url('fonts/rubikglitch-regular-webfont.woff2') format('woff2'),
         url('fonts/rubikglitch-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_monoXLtIt';
    src: url('fonts/ibmplexmono-extralightitalic-webfont.woff2') format('woff2'),
         url('fonts/ibmplexmono-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_monolight';
    src: url('fonts/ibmplexmono-light-webfont.woff2') format('woff2'),
         url('fonts/ibmplexmono-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
